.cart {

    text-align: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 2;
}

.cartIcon {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    border: 1px solid #000;
    background-color: #FFF5E8;
    cursor: pointer;
}

.cartStatus {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: #FF9D57;
    position: absolute;
    top: 0; 
    right: 0;
    cursor: pointer;
}

@media (max-width: 800px) {
    .cart {
        right: 5px;
    }
}