.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-top: 50px;
    background-color: #FAF9F4;
    position: relative;
}

.title {
    font-size: 48px;
    margin-bottom: 50px;
    color: #1A1009;
}

.button {
    border: none;
    cursor: pointer;
    width: 440px;
    height: 90px;
    background-color: #FF9D57;
    font-size: 32px;
    color: #FAF9F4;
    border-radius: 10px;
    margin-top: 150px;
    margin-bottom: 50px;
    font-family: inherit;
    z-index: 1;
}

.cards {
    z-index: 1;
}

.cards > *:nth-child(2n){
    margin-left: 250px;
}

.whale {
    position: absolute;
    bottom: 10%;
    right: 5%;
}

.link {
    padding: 26px 50px;
}

@media (max-width: 1200px) {
    .cards > *:nth-child(2n){
        margin-left: 0;
    }
}

@media (max-width: 800px) {
    .link {
        padding: 0;
    }

    .whale {
        width: 400px;
        height: auto;
        right: auto;
        left: 25%;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container {
        padding-left: 0;
        align-items: center;
    }
    .title {
        font-size: 36px;
    }
    .button {
        font-size: 24px;
        width: 90%;
        height: 60px;
        margin-top: 250px;
    }
}