.container {
    width: 680px;
    height: 240px;
    background-color: #FFF5E8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 4px 4px 20px  rgba(53, 53, 53, 0.25);
    margin-bottom: 50px;
}

.name {
    font-size: 32px;
    margin-bottom: 18px;
}

.description {
    max-width: 300px;
    font-size: 16px;
    margin-bottom: 24px;
}

.counter {
    display: flex;
    align-items: center;
}

.counter button {
    width: 28px;
    height: 28px;
    background: none;
    border: 1px solid #C6C6C6;
    cursor: pointer;
}

.total {
    font-size: 18px;
    margin-left: 10px;
}

.characteristic {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sizechar {
    display: flex;
}

.sizecircle {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #FF9D57;
    margin-right: 15px;
}

.size {
    font-size: 18px;
}

.price {
    font-size: 20px;
}

.close {
    height: 80%;
}

.closebtn {
    border: none;
    background: none;
    cursor: pointer;
}

@media (max-width: 800px) {
    .container {
        width: 280px;
        height: 370px;
        flex-direction: column;
        justify-content: center;
        padding-top: 20px;
    }

    .sizechar {
        position: relative;
        bottom: 40px;
        left: 70px;
    }

    .counter {
        position: relative;
        top: 40px;
        right: 70px;
    }

    .name {
        font-size: 20px;
        text-align: center;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .description {
        font-size: 12px;
        text-align: center;
        max-width: 240px;
        margin-bottom: 15px;
    }

    .price {
        font-size: 16px;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .characteristic {
        width: 80%;
        flex-direction: row;
        margin-top: 15px;
        align-items: end;
    }

    .close {
        position: relative;
        height: auto;
        bottom: 330px;
        left: 110px;
    }

    .closeicon {
        width: 20px;
        height: 20px;
    }
}